<% items.each do |item| %>
  <div class="col mb-5">
    <div class="card h-100">
      <!-- Product image-->
      <% if item.image.attached? %>
        <%= image_tag item.thumnail, class: "card-img-top" %>
      <% end %>
      <!-- Product details-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder">
            <%= item.name %>
          </h5>
          <!-- Product price-->
          ￥<%= item.price %>
        </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="container text-center">
          <div class="row py-1">
            <%= link_to 'View details', item_path(item), class: "btn btn-outline-dark mt-auto" %>
          </div>
          <% if current_user.admin? %>
            <div class="row py-1">
              <%= link_to 'edit', edit_item_path(item), class: "btn btn-secondary mt-auto" %>
            </div>
            <div class="row py-1">
              <%= link_to 'delete', item, data: { turbo_method: :delete }, class: "btn btn-secondary mt-auto" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>